.title{
  /* background-color: coral; */
  color: crimson;
  /* padding: 5px 10px; */
  text-align: center;
  text-transform: capitalize;
  /* -webkit-text-stroke: .5px black; */
}

.content{
  display: flex;
  gap: 50px;
}

